<h1>New city</h1>

<%= render 'form' %>

<%= link_to 'Back', cities_path %>

<script>
var keyUpTime = 1000; // 1 sec
var keyUpTimeout = null;
$('#city_city_name').keyup( function(e) {
    clearTimeout(keyUpTimeout);
    keyUpTimeout = setTimeout(function() { checkOSM(); }, keyUpTime);
});
function checkOSM() {
	$.getJSON('http://nominatim.openstreetmap.org/search/' + $("#city_city_name").val() + ',%20deutschland?format=json&polygon=0&addressdetails=0', function(data) {
		$("#city_city_name").val(data[0].display_name);
		$("#city_city_lon").val(data[0].lon);
		$("#city_city_lat").val(data[0].lat);
	});
}
</script>